{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <dib id="container">
    <h1>{{title}}</h1>
        <nav>
        {#On utilise path(nom_du_chemin) lorsqu'on veut un lien vers une page #}
        <a href="{{ path('Homepage) }}">Homepage</a>
        </nav>
    </div>        
    
{% endblock %}
