<nav>
        {#On utilise path(nom_du_chemin) lorsqu'on veut un lien vers une page #}
        <a href="{{ path('Homepage') }}">Homepage</a>
        <a href="{{ path('about_me') }}">About me</a>
</nav>
